__pycache__
*.ipynb_checkpoints
.DS_Store
examples
*.hdf5
data/
*.png
*params
test.py
*.out
testingGround.ipynb
draw_res.ipynb
renyi-random-measurements.ipynb
quspin.ipynb
mainNotes.bib
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
*.toc
*.glsdefs
*Untitled*
*/corrections/
